h1 {
    color: blue;
    font-family: sans-serif;
}

.portofolio-section {
    font-family: arial;
}

.portfolio-section h1 {
    color: orange;
    font-weight: semibold;
    /* font-size: 200px; */
}

.red-text {
    color: red;
    font-size: 20px;
}

.portfolio-section p {
    color: lightblue;
}

.italic-text {
    font-style: italic;
}

input[type='text'] {
    border: 2px solid red;
    margin-bottom: 5px;
}

#portofolio{
    background-color: #a88732;
    padding: 2px;
    border-radius: 5px;
}

#header{
    margin: 40px;
    border: 2px solid #087575;
    padding: 20px 10px 15px 30px; /*top right bottom left */
    border-radius: 2px;
}

body {
    font-family: arial;
    /* background-color: #c9f5f3; */
}